.main-container
  header.header.header-5
    .branding
      a.nav-link(href='javascript://')
        clr-icon(shape='vm-bug')
        span.title VMware Cloud Services
    .header-nav
      a.nav-link.nav-text(href='javascript://') Why VMware
      a.nav-link.nav-text(href='javascript://') Products
      a.nav-link.nav-text(href='javascript://') Use Cases
      a.nav-link.nav-text(href='javascript://') Pricing
    .header-actions(style='align-items:center')
      a(href='javascript://')
        button.btn.btn-sm.btn-inverse Sign In
